@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(62.3% 0.214 259.815);
  --color-primary-50: oklch(97% 0.014 254.604);
  --color-primary-100: oklch(93.2% 0.032 255.585);
  --color-primary-200: oklch(88.2% 0.059 254.128);
  --color-primary-300: oklch(80.9% 0.105 251.813);
  --color-primary-400: oklch(70.7% 0.165 254.624);
  --color-primary-500: oklch(62.3% 0.214 259.815);
  --color-primary-600: oklch(54.6% 0.245 262.881);
  --color-primary-700: oklch(48.8% 0.243 264.376);
  --color-primary-800: oklch(42.4% 0.199 265.638);
  --color-primary-900: oklch(37.9% 0.146 265.522);
  --color-primary-950: oklch(28.2% 0.091 267.935);

  --ease-out-overshoot-soft: linear(
    0,
    0.402 7.4%,
    0.711 15.3%,
    0.929 23.7%,
    1.008 28.2%,
    1.067 33%,
    1.099 36.9%,
    1.12 41%,
    1.13 45.4%,
    1.13 50.1%,
    1.111 58.5%,
    1.019 83.2%,
    1.004 91.3%,
    1
  );
}

@utility md-light {
  --baseTextContrast: var(--color-neutral-600);
}

@utility md-dark {
  --baseTextContrast: var(--color-neutral-300);
}

@utility prose-light {
  --tw-prose-body: var(--color-neutral-600);
  --tw-prose-headings: var(--color-neutral-600);
  --tw-prose-lead: var(--color-neutral-600);
  --tw-prose-links: var(--color-neutral-600);
  --tw-prose-bold: var(--color-neutral-600);
  --tw-prose-counters: var(--color-neutral-800);
  --tw-prose-bullets: var(--color-neutral-400);
  --tw-prose-hr: var(--color-neutral-300);
  --tw-prose-quotes: var(--color-neutral-500);
  --tw-prose-quote-borders: var(--color-neutral-300);
  --tw-prose-captions: var(--color-neutral-500);
  --tw-prose-code: var(--color-neutral-500);
  --tw-prose-pre-code: var(--color-neutral-100);
  --tw-prose-pre-bg: var(--color-neutral-500);
  --tw-prose-th-borders: var(--color-neutral-300);
  --tw-prose-td-borders: var(--color-neutral-200);
  --tw-prose-invert-body: var(--color-neutral-200);
  --tw-prose-invert-headings: var(--color-neutral-300);
  --tw-prose-invert-lead: var(--color-neutral-300);
  --tw-prose-invert-links: var(--color-neutral-200);
  --tw-prose-invert-bold: var(--color-neutral-300);
  --tw-prose-invert-counters: var(--color-neutral-400);
  --tw-prose-invert-bullets: var(--color-neutral-600);
  --tw-prose-invert-hr: var(--color-neutral-700);
  --tw-prose-invert-quotes: var(--color-neutral-100);
  --tw-prose-invert-quote-borders: var(--color-neutral-700);
  --tw-prose-invert-captions: var(--color-neutral-400);
  --tw-prose-invert-code: var(--color-neutral-200);
  --tw-prose-invert-pre-code: var(--color-neutral-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-neutral-600);
  --tw-prose-invert-td-borders: var(--color-neutral-700);
}
